@import url(https://use.typekit.net/cxb7wbu.css);
@import url(https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap);



/* ---------------------------- Index -------------------------------*/

@font-face {
    font-family: titulo;
    src: url(/LibreBaskerville-Regular.ttf);
}
@font-face {
    font-family: texto;
    src: url(/TitilliumWeb-Regular.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    font-family: titulo; 
    background-color: rgba(1,128,181,255);
}

header {
    width: 100%;
}

header .contenedor {
    width: 90%;
    margin: 0 auto;
}

.contenedor {
    margin-top: 5vw;
    padding-bottom: 1vw;
}

.contenedor .brand {
    display: flex;
    margin: 2vw 7vw;
    color: rgba(225,166,214,255);
}

.contenedor .brand i {
    font-size: 1.4em;
    margin-right: 0.35em;
    margin-top: 0.20em;
}

.contenedor .brand h3 {
    font-size: 1.3em;
    margin: 1vw 1vw;
}

nav ul{
    display: flex;
    justify-content: center;
    margin: 0px 2vw;

}

nav ul li{
    list-style: none;
    margin-right: 8vw;

}

nav ul li a{
    color: rgba(254,209,188,255);
    text-decoration: none;
    font-size: 1.3em;
}

nav ul li a:hover {
    color: rgba(225,166,214,255);
}

header div.contenedor {
    place-content: flex-start;

}

header div.contenedor nav {
    display: flex;
    place-content: space-around;
}


#menu, #menu-check {
    display: none;
}

@media only screen and (max-width: 900px) {
    header div.contenedor, header div.contenedor ul, header div.contenedor ul li {
        display: inline;

    }
    header div.contenedor nav {
        display: inline;
    }
        
}

@media only screen and (max-width:700px){

    header div.contenedor{
        display: flex;
        place-content: space-between;
    }


    #menu-check:not(checked) ~ nav {
        display: none;
    }
    #menu-check:checked ~ nav {
        display: block;
    }
    #menu {
        display: block;
        color: rgba(1,128,181,255);
        background-color: rgba(225,166,214,255);
        font-weight: bold;
        font-size: 1.2em;
        border:  3px solid rgba(1,128,181,255);
        border-radius: 0.3em;
        position: absolute;
        right: 0.5em;
        top: 0.5em;
        z-index: 9999;
    }

    #menu:hover {
        color: rgba(225,166,214,255);
        background-color: rgba(1,128,181,255);
    }

    #menu-cerrar {
        display: none;
    }

    #menu-check:checked ~ label #menu-abrir {
        display: none;
    }

    #menu-check:checked ~ label #menu-cerrar {
        display: block;
    }

    header div.contenedor nav {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        background-color: beige;
        padding-top: 0.5em;
        padding-right: 1.5em;
        opacity: 0.85;
        color: rgba(254,209,188,255);
        font-size: 1.2em;
        font-family: texto, Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

    header div.contenedor nav ul,  header div.contenedor nav ul li{
        display: block;
        text-align: right;
        padding: 0.7em;
    }

    header div.contenedor nav ul a {
        color: rgba(1,128,181,255);
        background: none;
    }

    header div.contenedor nav ul a:hover {
        color: rgba(225,166,214,255);
        background: none;
    }

}

@media (max-width: 700px) {

    .contenedor .brand i{
        margin-left: -30px;
    }

    .container-info .social-content i {
        display: none;
    }

    .container-info {
        flex-wrap: wrap-reverse;
        
    }

    .container-info h1{
        font-size: 2em;
    }

    .container-info h2{
        font-size: 1em;
    }

    .container-info .btn {
        font-size: 0.8em;
    }

    header .wave {
        margin-top: 320px;
    }
}

@keyframes left-move {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes right-move {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes up-move {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


.container-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5vw;
    padding-left: 3vw;
}

.container-info h1 {
    font-size: 3em;
    animation: left-move 1s ease-in;
    color: rgba(225,166,214,255);
    font-family: titulo;
}

.container-info h2 {
    font-size: 1.8em;
    animation: right-move 1s ease-in;
    color: rgba(173,208,202,255);
    font-family: texto;
}

.container-info .btn {
    font-size: 1.2em;
    margin-top: 15px;
    width: 200px;
    padding: 5px;
    border-radius: 50px;
    background-color: rgba(254,209,188,255);
    border: none;
    color: rgba(1,128,181,255);
    text-decoration: none;
    animation: right-move 1s ease-in;
    font-family: texto;
    font-weight: bold;
}
.container-info .btn:hover {
    font-size: 1.5em;
    margin-top: 15px;
    width: 200px;
    padding: 5px;
    border-radius: 50px;
    background-color:rgba(225,166,214,255);
    border: none;
    color: rgba(1,128,181,255);
    font-family: texto;
    font-weight: bold;
    
}
.container-info .img-content img {
    max-width: 100%;
    animation: up-move 1s ease-in;
}

.container-info .img-content img:hover {
    filter: grayscale(60%);
}

.container-info .social-content li {
    list-style: none;
    margin: 2vw;
}

.container-info .social-content i{
    font-size: 1.3em;
    color: rgba(254,209,188,255);
    animation: left-move 1s ease-in;
}

.container-info .social-content i:hover {
    transform: scale(1.5)
}

header .wave {
    margin-top: 150px;
}

.exposiciones {
    background-color: white;
    height: 100%;
    padding-left: 6%;
    padding-right: 6%;
    max-width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;      
}
.exposiciones .Imagen {
    max-height: 100%;
    width:auto;
    max-width: 45vw;
    grid-column: 2;
    grid-row:1;
    animation: left-move 1s ease-in;
    display: flex;
    align-self: center;
    justify-self: center;
    border-radius: 4vw;
}
.exposiciones .Imagen3 {
    height: fit-content;
    width:auto;
    max-width: 45vw;
    grid-column: 2;
    display: flex;
    align-self: center;
    justify-self: center;
    animation: left-move 1s ease-in;
    border-radius: 4vw;
}

.exposiciones .Imagen2 {
    height: fit-content;
    width:auto;
    max-width: 45vw;
    grid-column: 1;
    grid-row:2;
    animation: left-move 1s ease-in;
    display: flex;
    display: flex;
    align-self: center;
    justify-self: center;
    border-radius: 4vw;
    background-color: rgba(1,128,181,255);
}

.exposiciones .Texto2 {
    
    grid-column: 2;
    grid-row:2;
    display:flex
}
.exposiciones .Texto h1{
    font-family: titulo;
    grid-column: 1;
    grid-row:1; 
    justify-content: left;
    display: flex;
    color: rgba(63,172,211,255);
    font-size: 2em;
}
.exposiciones .Texto h5{
    font-family: texto;
    grid-column: 1;
    grid-row:1; 
    justify-content: left;
    font-size: 1.3em;
    display: flex;
    color: rgba(173,208,202,255);
}
.exposiciones .Texto2 h1{
    font-family: titulo;
    grid-column: 2;
    grid-row: 2;
    justify-content: right;
    display:flex;
    font-size: 2em;
    color: rgba(1,128,181,255);  
}
.exposiciones .Texto2 h5{
    font-family: texto;
    grid-column: 2;
    grid-row:2;
    justify-content: right;
    color: rgba(1,128,181,255);
    font-size: 1.3em;
    padding-top: 6%;
    display: flexbox;
}

.exposiciones .Texto3 h1{
    font-family: titulo;
    grid-column: 1;
    grid-row:3; 
    justify-content: left;
    font-size: 2em;
    display: flex;
    color: rgba(1,128,181,255);
}
.exposiciones .Texto3 h5{
    font-family: texto;
    grid-column: 1;
    grid-row:3; 
    justify-content: left;
    font-size: 1.3em;
    display: flex;
    color: rgba(173,208,202,255);
}
.bottom{
    margin-top: 2vh;
    padding: 1.5vw;
    margin-bottom: 2vh;
    background-color: rgba(173,208,202,255);
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    
}
.bottom h5{
    justify-self: center;
    font-family: texto;
    font-size-adjust: inherit;
    font-size: 1.2em;
    display: inline-flex;
    color: black;
}

.bottom .btn {
    font-size: 1.2em;
    font-weight: bold;
    font-family: texto;
    margin-top: 15px;
    width: 15em;
    padding: 1vw;
    border-radius: 50px;
    background-color: rgba(254,209,188,255);
    color: rgba(1,128,181,255);
    animation: right-move 1s ease-in;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    text-decoration: underline;
}


.bottom .btn:hover {
    font-size: 1.2em;
    font-family: texto;
    font-weight: bold;
    margin-top: 15px;
    width: 15em;
    padding: 1.5vw;
    border-radius: 50px;
    background-color: rgba(225,166,214,255);
    color: rgba(1,128,181,255);
    animation: right-move 1s ease-in;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-decoration: underline;
}


/*---------------------------------- Footer --------------------------------------*/

footer {
    width: 100%;
    background: rgba(254,209,188,255);
    margin-top: 2vw;
    padding-top: 2vw;
    font-family: sans-serif;
    color: rgba(1,128,181,255);
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    
  }
  
  .contact {
    width: 40%;
    text-align: end;
    display: inline-flex;
    
  }
  .contact i:hover {
    transform: scale(1.5)
  }
  .brand{
    font-weight: 600;
    font-size: 25px;
    
    display: inline-flex;
  }
  .footer .brand i:hover {
    transform: scale(1.5)
}

  .footer a {
    display:flex;
    text-decoration: none;
    color:rgba(63,172,211,255);
    transition: color .3s ease-in-out;
    margin-bottom: 3vw;
    display: inline-flex;
    justify-content: center;
    padding: 0 0.3em 0.3em 0;
  }

  .footer a:hover{
    display:flex;
    text-decoration: none;
    color:rgba(1,128,181,255);
    margin-bottom: 3vw;
    display: inline-flex;
    justify-content: center;
  }
.footer .social-content li{
    font-size: 1.3em;
    color: rgb(61, 53, 39);
    animation: left-move 1s ease-in;
    cursor: pointer;
    display: inline-flex;
    justify-items: center;
    padding: 0 1.5em 1em 0;

}

.footer .social-content i:hover {
    transform: scale(1.5)
}
  
  .line {
    height: 2px;
    max-width: 2000px;
    margin: auto;
    text-align: inline;
    background: wheat;
  }
  

/*---------------------------------- Historia --------------------------------------*/

.contenido{
    background-color: beige;
    padding: 2em;
}

.contenido .Historia {
    animation: right-move 1s ease-in;
    background-image: url(/Imagenes/Img-back.png);
    background-position: relative;
    background-size: cover;
    color: transparent;
    font-family: texto;
    font-size: 1.5em;
    font-optical-sizing: auto;
    padding: 15px;   
}
.contenido .Historia:hover{
    background-image: none;
    color: rgba(63,172,211,255);
    font-family: texto;
    /* font-size: 1.5em; */
    font-optical-sizing: auto;
    padding: 15px;
} 
.contenido .Historia h1 {
    color: rgba(1,128,181,255);
    font-family: titulo;
    /* font-size: 7vh; */
    text-align: left;
    opacity: 100;
}
.contenido .Histroia h5{
    text-align: justify;
}
.contenido .Historia video {
    height: 30vw;
    width: 30vw;
    margin-left: 15vw;
    opacity: 0;
}
.contenido .Historia:hover video {
    height: 30vw;
    width: 30vw;
    margin-left: 15vw;
    opacity: 100;
}

.contenido .Actual {
    animation: left-move 1s ease-in;
    background-image: url(/Imagenes/Img-back2.jfif);
    background-position: relative;
    background-size: cover;
    color: transparent;
    font-family: texto;
    font-size: 1.5em;
    font-optical-sizing: auto;
    padding: 15px;
    margin-top: 20px;
}
.contenido .Actual:hover{
    background-image: none;
    color: rgba(225,166,214,255);
    font-family: texto;
    /* font-size: 1.5em; */
    font-optical-sizing: auto;
    padding: 15px;
    background-color: rgba(1,128,181,255); 
} 
.contenido .Actual h1 {
    color: rgba(225,166,214,255);
    font-family: titulo;
   
    
    opacity: 100;
}

.contenido .Actual h5 a {
    color: transparent;
    font-family: texto;
    font-size: 0%;
    font-optical-sizing: auto;
    opacity: 0;
}
.contenido .Actual a:hover {
    color: rgba(254,209,188,255);
} 


/* ----------------------------- Responsive ---------------------------------*/

@media (max-width: 600px) {

    .contenedor .brand{
        display: none;
    }

    .contenido {
        width: 406px;
    }

    .historia, .actual{
        font-size: 30px;
        line-height: 29px;
        padding-top: 225px;
        padding-left: 100px;
        margin: 0 0 50px;
    }
    .Historia video {
        display: none
    }
}

@media (max-width: 768px) {

    @media (max-width: 600px) {

        .contenedor .brand{
            display: none;
        }
    
        .contenido {
            width: 406px;
        }
    
        .Historia, .Actual{
            font-size: 30px;
            line-height: 29px;
            padding-top: 225px;
            padding-left: 100px;
            margin: 0 0 50px;
        }
    }
}



/*--------------------------------- Exposiciones ------------------------------------*/

.carrusel {
    position: relative;

    padding-top: 4vw;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 4vw;
    background-color: white;
}
.carrusel .titulos h1{
    font-family: titulo;
    color: rgba(1,128,181,255);
    /* padding-bottom: 0.5vw; */
    font-size: 3vw;
}
.carrusel .titulos hr{
    margin-bottom: 1vw;
    height: 0.5vw;
    background-color: rgba(225,166,214,255);
}
.diapositivas {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 30vw;
}
.mostrar:checked + .diapositiva {
    position: static;
    opacity: 100;
}
.diapositiva {
    position: absolute;
    opacity: 0;
    transition: opacity 0.6s ease-out;
    background-color: rgba(173,208,202,255);
}
.diapositiva img {
    display: block;
    height: 30vw;
    max-width: 100%;
}

.diapo-titulo{
    color: rgba(254,209,188,255);
    font-size: 3.6vw;
    position: absolute;
    top: 80%;
    left: 2%;
    -webkit-text-stroke: 0.2vw rgba(1,128,181,255);
    font-family: titulo;
}
.diapo-text{
    color: rgba(1,128,181,255);
    font-size: 2vw;
    position: absolute;
    top: 4%;
    padding-left: 35%;
    padding-right: 10%;
    font-family: texto;
}
.slide-control {
    background: rgba(63,172,211,255);
    border-radius: 50%;
    color: rgba(225,166,214,255);
    cursor: pointer;

    display: none;
    font-size: 3.8vw;
    height: 3.8vw;
    line-height: 3.5vw;
    position: absolute;
    top: 50%;
    cursor: pointer;
    text-align: center;
    width: 4vw;

}
.slide-control.prev {
    left: 2%;
}
.slide-control.next {
    right: 2%;
}
.slide-control:hover {
    background: rgba(1,128,181,255);
    color: rgba(254,209,188,255);
}
#diapo-1:checked ~ .control-1,
#diapo-2:checked ~ .control-2,
#diapo-3:checked ~ .control-3 {
    display: block;
}



.Carrusel {
    position: relative;
    
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 4vw;
    background-color: white;
}
.Carrusel .Titulos h1{
    font-family: titulo;
    color: rgba(1,128,181,255);
    /* padding-bottom: 0.5vw; */
    font-size: 3vw;
}
.Carrusel .Titulos hr{
    margin-bottom: 1vw;
    height: 0.5vw;
    background-color: rgba(225,166,214,255);
}
.Diapositivas {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 30vw;
}
.Mostrar:checked + .Diapositiva {
    position: static;
    opacity: 100;
}
.Diapositiva {
    position: absolute;
    opacity: 0;
    transition: opacity 0.6s ease-out;
    background-color: rgba(173,208,202,255);
}
.Diapositiva img {
    display: block;
    height: 30vw;
    max-width: 33%;
}

.Diapo-Titulo{
    color: rgba(254,209,188,255);
    font-size: 3.6vw;
    position: absolute;
    top: 80%;

    padding-left: 35%;
    -webkit-text-stroke: 0.2vw rgba(1,128,181,255);
    font-family: titulo;
}
.Diapo-Text{
    color: rgba(1,128,181,255);
    font-size: 2vw;
    position: absolute;
    top: 4%;
    padding-left: 35%;
    padding-right: 10%;
    font-family: texto;
}
.Slide-Control {
    background: rgba(63,172,211,255);
    border-radius: 50%;
    color: rgba(225,166,214,255);
    cursor: pointer;

    display: none;
    font-size: 3.8vw;
    height: 3.8vw;
    line-height: 3.5vw;
    position: absolute;
    top: 50%;
    cursor: pointer;
    text-align: center;
    width: 4vw;

}
.Slide-Control.prev {
    left: 2%;
}
.Slide-Control.next {
    right: 2%;
}
.Slide-Control:hover {
    background: rgba(1,128,181,255);
    color: rgba(254,209,188,255);
}
#Diapo-1:checked ~ .Control-1,
#Diapo-2:checked ~ .Control-2,
#Diapo-3:checked ~ .Control-3 {
    display: block;
}

/* ----------------------------------- Tienda ----------------------------------- */

.products {
    background-color: beige;
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
    gap: 10rem;
    padding: 5rem;
    justify-content: space-between;
}

.products a {
    text-decoration: none;
}

.product-item {
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.image-container {
    display: flex;
    flex-direction: column;
    background-color: white;  
    
    height: 59vh; 

}

.image-container img{
    border: groove;
   
    height: 59vh;
}


.product-description {
    margin-top: 0.5rem;
    color: black;
    font-size: 0.8em;
}


.product-price {
    font-weight: bold;
    color:blue;
    margin-top: 0.5rem;
}

.product-price:hover {
    color: black;
    text-decoration: none;

}

.product-image:hover {
    text-decoration: none !important;
    color: rgba(225,166,214,255);
    box-sizing: border-box;
    position: relative;
    vertical-align: middle;
    transition: background-color .5s ease-out;
                border-radius: 2s ease-in;
}

/*--------------------------------- Contacto ------------------------------------*/

.main-contacto {
    display: flex;
    align-content: flex-end;
    overflow: auto;
    background-color: rgba(254,209,188,255);
  }
  
  
.contacto h1 {
    font-size: 1.5rem;
    color: rgba(1,128,181,255);
    font-family: titulo, Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0px 20px 50px;
  }
  
  .contacto {
    float: center;
    margin: 50px 20px 0px 50px;
  } 
  
  .nombre,.apellido,.email,.asunto,.mensaje {
    font-family: sans-serif;
    width: 35vw;
    height: 7vh;
    border: rgb(253, 200, 101) 2px solid;
  }
  
  .asunto {
    width: 35vw;
    height: 7vh;
    margin-bottom: 2px;
    color:#676d77;
  }
  
  .mensaje {
    height: 33vh;
    overflow: scroll;
  }
  
  .boton_enviar {
    display: block;
    width: 100px;
    height: 35px;
    color: rgb(61, 53, 39);
    background-color: wheat;
    font-family: sans-serif;
    font-size: 1rem;
    border: rgb(253, 200, 101) 2px solid;
    margin-left: 15vw;
    cursor: pointer;
    transition: .3s;
  }
  
  .boton_enviar:hover {
    border: white 1px solid;
    background-color: rgba(225,166,214,255);
  }


/*--------------------------------- Sucursales ------------------------------------*/

.sucursales-container h2 {
    font-size: 1.5rem;
    color: rgba(1,128,181,255);
    font-family: titulo, Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 5vw 5vw 0px 0px;
}


.sucursal {
    display: inline-block;
    margin: 4vw 2vw 1vw 0px;
  } 


.sucursal-title, iframe {
    font-size: 1rem;
    margin: 1vw 0px 0px 5vw;
    color: rgba(1,128,181,255);
    justify-content: space-between;

}


@media only screen and (max-width: 600px) {
    .main-contacto {
        display: grid;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .nombre,.apellido,.email,.asunto,.mensaje {
        width: 60vw;
    }
}
